<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
        <title>404 - Music Wave archive</title>
        <link href="http://127.0.0.1:8080/static/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
        <link href="http://127.0.0.1:8080/static/css/404.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h1>Page not found</h1>
        <img src="http://127.0.0.1:8080/static/images/travolta.gif" />
        <form class="button" method="get" action="/">
            <button type="submit">Continue exploring bands</button>
        </form>
    </body>
</html>